<html>

<head>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <script src="vue.js" type="text/javascript"></script>
</head>

<body>

    <div id="app">
        {{ a }} {{b}}
        <span v-once> 这个值不会改变 {{a}} </span>
        <p>Using v-html directive: <span v-html="a"></span></p>
        <span v-html></span>
        <div v-bind:class="color">
            test
        </div>
        <span>
            {{number+1}}
            {{ ok ?'YES':'NO'}}
            {{message.split('').reverse().join('')}}
            <p v-if="seen">现在你看到我了 </p>
            <a v-bind:href="baidu"> 百度官网</a>
        </span>
        <div @click="click1">
            <!---.后缀修饰符，stop 阻止事件向上传递-->
            <div @click.stop="click2">
                click me
            </div>
        </div>
        <div style="display: none;">

            <div class="test" v-bind:class="{active:isActive,green:isGreen}"
                style="width:200px;height:200px;text-align: center;line-height: 200px;">hi vue</div>
            <div class="test" v-bind:class="{active:isActive,green:isGreen}"
                style="width:200px;height:200px;text-align: center;line-height: 200px;">hi vue</div>
            <div v-bind:style="{color:color,frontSize:size}"
            style="width:200px;height:200px;text-align: center;line-height: 200px;"
            >
                hivue2
            </div>
        </div>

        <div>
            testIF
            <div v-if="type === 'A'">A</div>
            <div v-else-if="type === 'B'">B</div>
            <div v-else-if="type === 'C'">C</div>
            <div v-else="type === 'D'">D</div>
        </div>
         <h1 v-show="ok">
                good
        </h1>
        <div>
            <ul>
                <li v-for="item in items" :key="item.id">
                    {{item.message}}
                </li>
                <li v-for="value,key in mobject" :key="key">
                    {{key}} : {{value}}
                </li>
            </ul>
            <button v-on:click="counter += 1"> 数值：{{counter}} </button>
            <button v-on:dblclick="greet('hi',$event)">greet</button>
            <input v-model="msg" placeholder="edit me">
            <p>Message is {{msg}}</p>
            <input type="checkbox" id="checkbox" v-model="checked">
            <label for="checkbox"> {{checked}}</label>
        </div>
        <div>
            <input type="radio" id="one" value="one" v-model="picked"> 
            <label for="one">one</label>
            <input type="radio" id="two" value="two" v-model="picked"> 
            <label for="two">two</label>
            <br>
            <span>picked {{picked}}</span>
        </div>
        <button type="button" @click="submit">提交</button>
    
    </div>




    <script type="text/javascript">
        var data = {
            a: 1,
            b: 2,
            color: 'blue',
            number: 10,
            ok: true,
            message: 'vue',
            seen: false,
            baidu: "http://www.baidu.com",
            isActive: true,
            isGreen: true,
            isRed:true,
            size:'20px',
            type:"B",
            items:[
                {message:'FOO'},
                {message:'BAR'}
            ],
            mobject:{
                title:'how to play',
                author:'songfei',
                publishAt:'2019'
            },
            counter: 0,
            msg:'hellomsg',
            picked:"two",
            checked:true
        }
        // Object.freeze(data)
        var vm = new Vue({
            el: '#app',
            data: data,
            created: function () {
                console.log('a is ' + this.a)
            },
            methods: {
                click1: function () {
                    console.log('click1 ...')
                },
                click2: function () {

                    console.log('click2 ...')
                },
                greet: function(str,e){
                    console.log(str);
                    // alert(str)
                    console.log(e)
                },
                submit:function(){
                    console.log(this.message)
                    var postObj={
                        msg1:this.message,
                        msg2:this.msg,
                        checkval:this.checkedNames
                    }
                    console.log(postObj)
                }
            }
        });

        vm.$watch('a', function (newValue, oldValue) {
            // 这个回调将在 `vm.a` 改变后调用
            console.log(newValue)
            console.log(oldValue)
        })

        vm.a = "hello"
        vm.a = "<sapn>hello i am span</span>"
    </script>
    <style>
        .red {
            color: red
        }

        .blue {
            color: blue;
            font-size: 100px;
        }

        .active {
            background: red;
        }

        .test {
            font-size: 30px;
        }

        .green {
            color: green;
        }
    </style>
</body>

</html>